.about {
  padding-top: 60px;
}

.about__wrapper h2 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
}

.about__paragraph {
  margin-top: 60px;
}

.about__paragraph h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}

.about__paragraph p {
  font-size: 18px;
  line-height: 140%;
}
