.additions {
  padding-top: 60px;
}

.additions__wrapper h2 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
}

.additions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 30px;
}

.additions__list li {
  margin-top: 10px;
}

.additions__list h3 {
  padding-left: 35px;
  position: relative;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: $color-primary;
}

.additions__list h3::before {
  position: absolute;
  content: "";

  width: 17px;
  height: 17px;

  left: 2px;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: $color-red;
  border: 5px solid $color-primary;
}

.additions__list p {
  margin: 0;
  margin-top: 10px;
  margin-left: 9px;
  padding-left: 25px;
  font-size: 18px;
  line-height: 140%;
  border-left: 2px solid $color-primary;
}

.additions__list li:last-child p {
  border-left: none;
}

@media (max-width: $mobile-width) {
  .additions__wrapper h2 {
    font-size: 24px;
  }

  .additions__list p {
    font-size: 16px;
  }
}
