.article {
  padding-top: 40px;
}

.article__wrapper {
  border-bottom: 2px solid $color-primary;
  padding-bottom: 40px;
}

.article__wrapper h2 {
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 140%;
}

.article__wrapper p {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 140%;
}

.article__about {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.article__img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.article__img img {
  border-radius: 50%;
}

.article__name h3 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}

.article__name p {
  margin: 0;
  font-size: 14px;
  line-height: 140%;
}
