.header {
  padding-top: 27px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header__logo-link {
  width: 23%;
}

.header__search {
  position: relative;
  width: 40%;
  margin-left: 50px;
}

.header__search-icon {
  position: absolute;
  transform: translateY(-50%);
  left: 15px;
  top: 25px;
}

.header__search input[type="search"] {
  width: 100%;
  border: none;
  background-color: $color-grey;
  border-radius: 100px;
  height: 44px;
  padding: 15px 20px;
  padding-left: 45px;
}

.header__about {
  display: flex;
  justify-content: space-between;
  width: 36%;
  max-width: 250px;
}

.header__about a {
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: $color-black;
  margin-left: 40px;
}

.header__language {
  width: 14%;
  margin-left: 100px;
  display: flex;
  justify-content: center;
}

.header__language a {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: $color-black;
  justify-content: flex-end;
}

.header__language button {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $color-primary;
  border-radius: 4px;
  cursor: pointer;
}

.header__language button::before {
  position: absolute;
  content: url("../img/menu.svg");

  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__language span {
  margin-right: 30px;
}

.header__language-icon {
  display: flex;
  align-items: center;
}

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
  border-bottom: 2px solid red;
}

.header__menu-list li {
  position: relative;
  margin-right: 60px;
  padding-bottom: 25px;
}

.header__menu-list li:last-child:hover .header__menu-sublist,
.header__menu-list li:last-child:focus-within .header__menu-sublist {
  display: flex;
  flex-direction: column;
}

.header__menu-list li:last-child::after {
  position: absolute;
  content: url("../img/down-arrow.svg");
  top: 5px;
  right: -20px;
}

.header__menu-list a {
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: $color-black;
}

.header__menu-sublist {
  display: none;
  position: absolute;
  top: 35px;
  margin: 0;
  padding: 0;
  padding: 30px;
  list-style: none;
  background: $color-white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  z-index: 10;
}

.header__menu-sublist li {
  margin-bottom: 20px;
  padding-bottom: 0;
}

.header__menu-sublist li:last-child::after {
  content: "";
}

.header__menu-sublist a {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__logo-link {
    width: 252px;
  }

  .header__search {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    order: 1;
  }
}

@media (max-width: $mobile-width) {
  .header__logo-link {
    margin-left: auto;
    margin-right: auto;
  }

  .header__about {
    display: none;
    width: 100%;
    max-width: none;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    background-color: $color-black;
    order: 1;
  }

  .header__about--active {
    display: flex;
  }

  .header__search {
    order: 2;
  }

  .header__about a,
  .header__language a {
    font-size: 16px;
  }

.header__language button {
  display: block;
}

  .header__about a {
    width: 100%;
    text-align: center;
    max-width: none;
    margin-left: 0;
    color: $color-white;
    margin-top: 10px;
    padding: 10px;
  }

  .header__about a:first-child {
    margin-top: 0;
  }

  .header__language {
    width: 100%;
    margin: 0;
    margin-top: 20px;

  }

  .header__language a {
    justify-content: center;
    margin-right: 30px;
  }
}
