$color-black: #2b2d42;
$color-grey: #edf2f4;
$color-text: #666666;
$color-primary: #ef233c;
$color-red: #d90429;
$color-green: #6ab547;
$color-white: #ffffff;
$main-font: "NotoSans", "Arial", sans-serif;
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
